<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome <%= user %> </h1>
  <br>



<button onclick="location.href = 'https://github.com/login/oauth/authorize?client_id=58161dcf40849abffecd';" id="SignUp" class="float-left submit-button" >Sign Up</button>
<br>
<br>
<form method = "post" action="./">
GitHub Username:<br>
<input type="text" name="username" value="shippable">
<br><br>
Repo Name:<br>
<input type="text" name="repo" value="support">
<br><br>
<input type="hidden" name="token" value=<%= accessToken %>>
Range of Days:<br>
<input type="text" name="days" value="2"> to <input type="text" name="daysEnd" value="5">
<br><br>
<input type="submit" name="state" value="Open">
<input type="submit" name="state" value="Close">
</form>



  </body>
</html>
