<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome <%= user %> </h1>
  <br>




<form method = "post" action="./issues">
GitHub Username:<br>
<input type="text" name="name" value="shippable">
<br><br>
Repo Name:<br>
<input type="text" name="repo" value="support">
<br><br>
Range of Days:<br>
<input type="text" name="days" value="2"> to <input type="text" name="daysEnd" value="5">
<br><br>
<input type="submit" name="state" value="Open">
<input type="submit" name="state" value="Close">
</form>


  </body>
</html>
