<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>URLs</h1>
  

  <ol type="1">


    <% issues.forEach(function(data){ %>
      <li><%= data %></li>
    <% }) %>      


  </ol>


  </body>
</html>
