<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>URLs</h1>
  

  <ol type="1">
    <% data.forEach(function(dat){ %>
      <li><%= dat.title %></li>
    <% }) %>
  </ol>


  </body>
</html>
